.nav-bar {
    background-color: #333;
    color: #fff;
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .nav-menu {
    list-style: none;
    padding: 0;
  }
  
  .nav-menu li {
    margin-bottom: 10px;
  }
  
  .nav-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-menu li a:hover {
    text-decoration: underline;
  }
  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }