
@font-face {
   /* this isn't working :( */
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
}

body {
  background-color: #D4E9CE;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto; 

}



#root {
  margin: 0 auto;
  margin-top: 0;
  height: 800px;
  padding: 2rem;
  text-align: center;
  background-color: #D4E9CE;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


.app-container {
  display: flex;
  background-color: #D4E9CE;
  flex-direction: column;
  justify-content: space-between;
}



.main-content.opened {
  background-color: #D4E9CE;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
}

.main-content.closed {
  background-color: #D4E9CE;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: -50%;
}


.navbar-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px; 
  background-color: transparent;
  border: none;
  cursor: pointer;
}

